.boton1{
    background-color: #199319;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
}
.boton2{
    background-color: #199319;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
}
.boton3{
    background-color: #199319;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
}
.boton1:hover{
    background-color: #199319;
}
.boton2:hover{
    background-color:darkslateblue;
}
.boton3:hover{
    background-color:cadetblue;
}
.body1{
    background-color: #199319;
}
.body2{
    background-color:darkslateblue;
}
.body3{
    background-color: cadetblue;
}