.boton1{
    color: white;
    padding: 15px 25px;
    text-decoration: none;
}
.boton2{
    color: white;
    padding: 15px 25px;
    text-decoration: none;
}
.boton3{
    color: white;
    padding: 15px 25px;
    text-decoration: none;
}
.boton1:hover{
    background-color: rgb(205, 184, 157);
}
.boton2:hover{
    background-color:rgb(199, 198, 198);
}
.boton3:hover{
    background-color:rgb(204, 199, 138);
}
.body1{
    background-color:burlywood;
}
.body2{
    background-color:darkgrey;
}
.body3{
    background-color:darkkhaki;
}
.tabla{
    width: 100%;
    border: 1px solid #000;
    border-spacing: 0cm;
    background-color: yellow;
 }
 th{
    width: 25%;
    text-align: center;
    vertical-align: top;
    border: 1px solid #000;
    font-weight: bold;
    font-style: italic;
    color: red;
    border-spacing: 0cm;
    
 }
 td{
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-spacing: 0cm;
 }
 .subrayado{
    text-decoration: underline;
    color:darkgreen;
 }
 .boldrojo{
    font-weight: bold;
    color:red;
 }
.ambos{
    text-decoration: underline overline;
 }
 .grande{
    font-size: 40px;
    font-weight: bold;
 }
 .azulbold{
    color:blue;
    font-weight: bold;
 }
 .subrojo{
    text-decoration: underline;
    color:red;
    font-weight: bold;
 }
 .p1{
    width: 700px;
    text-align: center;
    padding-left: 400px;
 }
 .p2{
    width:700px;
    clear:both;
    text-align: justify;
 }
 .p3{
    width: 800px;
    text-align: center;
}
.orson{
    width: 100px;
    padding-left: 5px;
}
img.orson{
    float: right;
    }
     .p4{
    width:700px;
    clear:both;
    text-align: justify;
 }
 .p3{
    width: 700px;
    text-align: center;
}
.principito{
    width: 70px;
    padding-right: 5px;
}
img.principito{
    float: left;
    }

